This is Part 1 of the Midterm Exams

In [ ]:
heroes = ['Batman', 'Superman', 'Spiderman']
print(heroes)
print(heroes.index('Batman'))
print(heroes[0])
heroes.append('Wonderwoman')
heroes.remove('Batman')
print(heroes[2])
print(heroes.index('Superman'))
print(heroes)

['Batman', 'Superman', 'Spiderman']
0
Batman
Wonderwoman
0
['Superman', 'Spiderman', 'Wonderwoman']

The code print all the heroes, the function append means to add an item in the list and the remove function deletes an item in the list.

In [ ]:
heroes = ['Batman', 'Superman', 'Spiderman']
print('Batman' in heroes)
print('Ironman' not in heroes)
hero = 'Superman'
print(hero in heroes)
print('Ironman' not in ['Captain America', 'Ironman', 'Hulk'])

True
True
True
False

There's a hashtag in the given code, which makes it confusing. The code is giving a boolean value, and it tells whether a hero is in the column of heroes.

In [ ]:
heroes1 = ['Batman', 'Superman', 'Spiderman']
heroes2 = ['Captain America', 'Ironman', 'Hulk']
print(heroes1 + heroes2)
heroes = heroes1 + heroes2
heroes2.remove('Hulk')
print(heroes1 + heroes2)

['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman', 'Hulk']
['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman']

The code simply put together all the heroes and then in the second part Hulk was removed.

In [ ]:
heroes = ['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman', 'Hulk']
heroes.sort()
print(heroes)

['Batman', 'Captain America', 'Hulk', 'Ironman', 'Spiderman', 'Superman']

The sort function arranged the input data into alphabetical order.

In [ ]:
heroes = ['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman', 'Hulk']
heroes.reverse()
print(heroes)

['Hulk', 'Ironman', 'Captain America', 'Spiderman', 'Superman', 'Batman']

The reverse function reversed the order of the heroes.

In [ ]:
heroes = ['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman', 'Hulk']
print(sorted(heroes))
print(list(reversed(heroes)))
print(heroes)

['Batman', 'Captain America', 'Hulk', 'Ironman', 'Spiderman', 'Superman']
['Hulk', 'Ironman', 'Captain America', 'Spiderman', 'Superman', 'Batman']
['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman', 'Hulk']

The first output was the sorted heroes in alphabetical order, the second output was the reverse order of the given value on the column heroes and the third output was the reverse order of the second output.

In [ ]:
heroes = ['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman', 'Hulk']
for hero in heroes:
  print(f"my hero is {hero}")

my hero is Batman
my hero is Superman
my hero is Spiderman
my hero is Captain America
my hero is Ironman
my hero is Hulk

The code print all the heroes that begins with "my hero is".

In [ ]:
heroes = ['Batman', 'Superman', 'Spiderman', 'Captain America', 'Ironman', 'Hulk']
for hero in heroes:
  print("my hero is {}".format(hero))

my hero is Batman
my hero is Superman
my hero is Spiderman
my hero is Captain America
my hero is Ironman
my hero is Hulk

This is the same as the code above but the only difference is the function format of hero.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
total = 0
for number in numbers:
  total = total + number
  print(total)

1
3
6
10
15
21

In getting the total of the output, the following is the solution used:
0+1 = 1,
1+2 = 3,
1+2+3 = 6,
1+2+3+4 = 10,
1+2+3+4+5 = 15,
1+2+3+4+5+6 =21

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
total = sum(numbers)
print(total)

21

The code added all the total sum of the numbers.

In [ ]:
age = input("Type your age: ")
age = int(age)
if age >= 100:
  print("That is not a valid age")
elif age >= 18:
  print("You are old enough to drive")
elif age <= 0:
  print("That is not a valid age")
else:
   print("You are old enough to drive")

Type your age: 22
You are old enough to drive

If the input age is above 100, it will print that it is not a valid age. If it is 18 and above it will old enough to drive and if it is less than sorry, it will print that it is not a valid age also to drive.

In [ ]:
age = input("Type your age: ")
age = int(age)
if age >= 100 or age <= 0:
  print("That is not a valid age")
elif age >= 18:
  print("You are old enough to drive")
else:
   print("You are old enough to drive")

Type your age: 100
That is not a valid age

It is the same as the code above it but the more than 100 and less than 0 were just put together in the same place.

In [ ]:
numbers = [200, 100, 43, 10, -10, 0]
for number in numbers:
  if number > 100:
    print(f"{number} is greater than 100")
  elif number <100:
    print(f"{number} is less than 100")

200 is greater than 100
43 is less than 100
10 is less than 100
-10 is less than 100
0 is less than 100

It prints whether the numbers in the column is greater than or less than 100.

In [ ]:
numbers = [200, 100, 43, 10, -10, 0]
filtered = []

for number in numbers:
  if number > 30:
    filtered.append(number)

print(filtered)

[200, 100, 43]

The filtered function include all the number that are more than 30.